automations/n8n/eventos-lembrete-confirmados.json
{
  "name": "Eventos - Lembrete automático (véspera e dia do evento)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0001-4000-9000-000000000001",
      "name": "Cron 18h (véspera)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0002-4000-9000-000000000002",
      "name": "Cron 08h (dia do evento)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 420]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.REDE_GUTI_API_URL}}/automation/event-reminders?window=tomorrow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false,
              "fullResponse": false
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-4000-9000-000000000003",
      "name": "GET lembretes de amanhã",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rede-guti-automation-token",
          "name": "Rede Guti Automation Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.REDE_GUTI_API_URL}}/automation/event-reminders?window=today",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false,
              "fullResponse": false
            }
          }
        }
      },
      "id": "c3d4e5f6-0004-4000-9000-000000000004",
      "name": "GET lembretes de hoje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rede-guti-automation-token",
          "name": "Rede Guti Automation Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Achata eventos → uma mensagem por convidado.\n// CONFIRMADO recebe lembrete simples; APROVADO recebe pedido de confirmação\n// com o link público de confirmação.\nconst data = $input.item.json;\nconst when = data.window === 'today' ? 'HOJE' : 'AMANHÃ';\nconst out = [];\n\nfor (const ev of data.eventos || []) {\n  const dataBr = new Date(ev.data).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n  for (const ind of ev.indicados || []) {\n    let message;\n    if (ind.status === 'CONFIRMADO') {\n      message =\n        `Olá ${ind.nome}! 🙏 Passando para lembrar: é ${when}!\\n\\n` +\n        `📅 *${ev.nome}*\\n` +\n        `🗓 ${dataBr}\\n` +\n        `⏰ ${ev.hora}\\n` +\n        `📍 ${ev.local}\\n\\n` +\n        `Te esperamos lá! 💙`;\n    } else {\n      message =\n        `Olá ${ind.nome}! 🙏 O evento *${ev.nome}* é ${when} (${dataBr} às ${ev.hora}, ${ev.local}) ` +\n        `e ainda não recebemos sua confirmação.\\n\\n` +\n        `Confirme sua presença aqui:\\n${ind.confirmacaoLink}`;\n    }\n    out.push({ json: { phone: ind.telefone, message, eventoId: ev.id, indicadoId: ind.id, status: ind.status } });\n  }\n}\n\nreturn out;"
      },
      "id": "c3d4e5f6-0005-4000-9000-000000000005",
      "name": "Montar mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WHATSAPP_API_URL}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"text\": {{JSON.stringify($json.message)}}\n}",
        "options": {
          "timeout": 10000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0006-4000-9000-000000000006",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api-auth",
          "name": "WhatsApp API Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron 18h (véspera)": {
      "main": [
        [
          {
            "node": "GET lembretes de amanhã",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 08h (dia do evento)": {
      "main": [
        [
          {
            "node": "GET lembretes de hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET lembretes de amanhã": {
      "main": [
        [
          {
            "node": "Montar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET lembretes de hoje": {
      "main": [
        [
          {
            "node": "Montar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar mensagens": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Lembrete automático de eventos: na véspera às 18h e no dia às 08h busca GET /automation/event-reminders e envia WhatsApp para cada convidado APROVADO (pede confirmação com link) ou CONFIRMADO (lembrete). Variáveis: REDE_GUTI_API_URL, WHATSAPP_API_URL. Credentials: 'Rede Guti Automation Token' e 'WhatsApp API Header Auth'. Configure APP_PUBLIC_URL no backend para o link de confirmação sair absoluto."
  },
  "tags": []
}
